body,
html {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #CCD1D1;
}

.form {
    position: absolute;
    height: 95%;
}

.form {
    border-radius: 2rem;
}

.container-chat {
    height: 65%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container-avatar {
    height: 14%;
}

.container-inputs {
    height: 10%;
}

.container-chat::-webkit-scrollbar {
    display: none;
}

.container-friends{
    overflow: auto;
    height: 90%;
}

.container-friends::-webkit-scrollbar{
    display: none;
    width: 0px;
}


a:link{
    text-decoration: none;
}


.container-fri-add{
    position: absolute;
    left: 30px;
    width: 16rem;
    height: 95%;
}

.btn-friend{
    outline: none;
    background:none;
    padding-top: 15%;
    font-size: 18px;
    position: relative;
    left: 176px;
}

.avatar-friend{
    left: 85px;
    position: relative;
}