body,
html {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #CCD1D1;
}

.form {
    height: 95%;
}

.form {
    border-radius: 2rem;
}

.container-chat {
    height: 65%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container-avatar {
    height: 14%;
}

.container-inputs {
    height: 10%;
}

.container-chat::-webkit-scrollbar {
    height: 2px;
}