<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="bg-dark">
    <div class="container">
        <p class="display-4 text-center text-white">Links favoritos</p>
        <div class="sectionError row"></div>
        <form class="section1 row mt-3" align="center">
            <input type="url" name="" id="user" class="form-control link col-10" placeholder="URL">
            <button type="submit" class="btn btn-primary col-2 save-link" disabled>Send</button>
        </form>
        <section class="section2 mt-3">

        </section>
        <div class="section3 mt-3">
            <button class="clear-storage btn btn-danger">Clear Storage</button>
        </div>
        <!-- required bootstrap js -->
        <button type="submit" name="commit" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#login">
          Login/Signup
        </button>
        <div class="modal fade" id="login" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                      <i class="fa fa-envelope"></i>
                    </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                      <i class="fa fa-lock"></i>
                    </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" name="commit" class="btn btn-primary btn-lg btn-block">
                  <span>Login <i class="fa fa-sign-in"></i></span>
                </button>
                        <div class="text-center">
                            <a class="" href="" data-dismiss="modal" data-toggle="modal" data-target="#signup">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="signup" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Signup</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                      <i class="fa fa-user"></i>
                    </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                      <i class="fa fa-envelope"></i>
                    </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                      <i class="fa fa-lock"></i>
                    </span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                      <i class="fa fa-lock"></i>
                    </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Password confirmation" aria-label="Password confirmation" aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" name="commit" class="btn btn-primary btn-lg btn-block">
                  <span>Signup <i class="fa fa-sign-in"></i></span>
                </button>
                        <div class="text-center">
                            <a class="" href="" data-dismiss="modal" data-toggle="modal" data-target="#login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/list" type="button" class="btn btn-dark">Send</a>
    <script src="../public/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>