<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css" integrity="sha256-27KRQA6ck6EiKWEkCpHR2NcEeAYnqz8Q5a83PYHh1z0=" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <nav class="row navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="index.html">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="row navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Options</a>
                </li>
                <li class="nav-item my-3">
                    <button type="submit" id="btn-login-signup" name="commit" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#login">
                          Login/Signup
                    </button>
                </li>
            </ul>
            <!-- Login and Signup -->
            <!-- required bootstrap js -->
            <form class="modal fade mt-5" id="login" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Login</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                </div>
                                <input id="login-email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                </div>
                                <input id="login-password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <button type="submit" name="commit" class="btn btn-primary btn-lg btn-block btn-login">
                                    <span>Login <i class="fa fa-sign-in"></i></span>
                                </button>
                            <div class="text-center">
                                <a class="" href="" data-dismiss="modal" data-toggle="modal" data-target="#signup">Signup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form class="modal fade mt-5" id="signup" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Signup</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                        <i class="fa fa-user"></i>
                                </span>
                                </div>
                                <input id="signup-name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" autocomplete="off">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <input id="signup-email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" autocomplete="off">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                        <i class="fas fa-birthday-cake"></i>
                                    </span>
                                </div>
                                <input id="signup-date" type="date" class="form-control" placeholder="Year of birth" aria-label="YearOfBirth" aria-describedby="basic-addon1" autocomplete="off">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                                <input id="signup-year" type="number" class="form-control" placeholder="Year" aria-label="Year" aria-describedby="basic-addon1" autocomplete="off">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <input id="signup-password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <input id="signup-confirm-password" type="password" class="form-control" placeholder="Password confirmation" aria-label="Password confirmation" aria-describedby="basic-addon1">
                            </div>
                            <button type="submit" name="commit" class="btn btn-primary btn-lg btn-block btn-signup">
                                <span>Signup <i class="fa fa-sign-in"></i></span>
                            </button>
                            <div class="text-center">
                                <a class="" href="" data-dismiss="modal" data-toggle="modal" data-target="#login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- datos del usuario -->
            <div class="btn-group mr-5">
                <button type="button" class="dropdown-toggle dropdown-toggle-split mr-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                <a type="button" class="btn-image mr-5">
                    <img src="https://cdn.pixabay.com/photo/2018/08/12/16/59/ara-3601194_960_720.jpg" alt="" class="rounded-circle border border-light" height="60px" width="60px">
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item font-italic mt-1 btn-profile" href="profile.html">
                        <p class="name-user text-black">Welcome</p>
                    </a>
                    <a class="dropdown-item font-italic mt-1 btn-exit" href="#!">Exit</a>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </nav>
    <div id="fullpage">
        <section class="section" id="section1" data-menuanchor="firstPage">
            <p class="display-3 text-white font-italic">Save photos of your <span class="portada"></span></p>
        </section>
        <section class="section" id="section2" data-menuanchor="secondPage">
            <div class="slide">
                <img src="https://cdn.pixabay.com/photo/2018/08/12/16/59/ara-3601194_960_720.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_960_720.jpg" alt="" width="100%" height="100%">
            </div>
            <div class="slide">
                <img src="https://cdn.pixabay.com/photo/2015/09/02/13/19/holding-hands-918990_960_720.jpg" alt="" width="100%" height="100%">
            </div>
        </section>
        <section class="section" id="section3" data-menuanchor="thirdPage">
            <img src="https://cdn.pixabay.com/photo/2014/12/15/17/17/scuba-diver-569333_960_720.jpg" alt="" height="100%" width="100%">
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js" integrity="sha256-SNaaqfQPa0XlEqQDrsurQ+Qq5XnhNrwHQXnZpdXlCEI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.extensions.min.js" integrity="sha256-SjXUPmxobD+vLCws0crIzpdBrHgDjs8jamhUMv0eRac=" crossorigin="anonymous"></script>
    <script src="../public/js/fullpage.js"></script>
    <script src="../public/js/typed.js"></script>
    <script src="../public/js/efect-typed.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/preview_image.js"></script>
</body>

</html>