<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" align="center">
        <nav class="row navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="row navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                    <li class="nav-item my-3">
                        <button type="submit" name="commit" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#login">
                          Login/Signup
                        </button>
                    </li>
                </ul>
                <!-- Login and Signup -->
                <!-- required bootstrap js -->
                <div class="modal fade" id="login" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Login</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container-login">

                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input id="login-email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input id="login-password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" name="commit" class="btn btn-primary btn-lg btn-block btn-login">
                                    <span>Login <i class="fa fa-sign-in"></i></span>
                                </button>
                                <div class="text-center">
                                    <a class="" href="" data-dismiss="modal" data-toggle="modal" data-target="#signup">Signup</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="signup" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Signup</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container-signup">

                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                    <input id="signup-name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" autocomplete="off">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <input id="signup-email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" autocomplete="off">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input id="signup-password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input id="signup-confirm-password" type="password" class="form-control" placeholder="Password confirmation" aria-label="Password confirmation" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" name="commit" class="btn btn-primary btn-lg btn-block btn-signup">
                                    <span>Signup <i class="fa fa-sign-in"></i></span>
                                </button>
                                <div class="text-center">
                                    <a class="" href="" data-dismiss="modal" data-toggle="modal" data-target="#login">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- datos del usuario -->
                <div class="dropdown open col-md-2 container-user">

                </div>
            </div>
        </nav>
        <div class="row justify-content-center my-3">
            <p class="display-3 text-white font-italic">Save photos of your <span class="portada"></span></p>
        </div>
        <div class="row justify-content-center">
            <form action="" class="col-8" align="center">
                <div class="form-group">
                    <input type="text" name="" id="name" class="form-control my-3" placeholder="Name of the animal" required>
                    <input type="url" name="" id="url" class="form-control my-3" placeholder="URL" required>
                </div>
                <button type="submit" class="btn btn-outline-light send-datos">Send</button>
            </form>
        </div>
        <div class="items mt-3 p-5">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../public/js/typed.js"></script>
    <script src="../public/js/efect-typed.js"></script>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/preview_image.js"></script>
</body>

</html>