<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.profile.css">
</head>

<body>
    <div class="container-fluid d-flex">
        <section class="col-3">
            <input type="button" id="My-profile" value="My profile" class="btn-option col-12 font-italic">
            <input type="button" id="Edit-profile" value="Edit profile" class="btn-option col-12 font-italic">
            <input type="button" id="Manage-Accounts" value="Manage Accounts" class="btn-option col-12 font-italic">
            <input type="button" id="View-Data" value="View Data" class="btn-option col-12 font-italic">
            <input type="button" id="To-return" value="To return" class="btn-option col-12 font-italic">
        </section>
        <section class="col-9 d-flex justify-content-center">
            <form action="" class="my-profile col-7 mt-5" align="center">
                <div>
                    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg" alt="" class="rounded-circle border border-success" height="150px" width="150px">
                </div>
                <div class="form-group mt-5">
                    <label for="" class="text-white">Name: </label>
                    <input type="text" name="name" id="name" class="form-control" disabled>
                </div>
                <div class="form-group mt-4">
                    <label for="" class="text-white">Email: </label>
                    <input type="email" name="email" id="email" class="form-control" disabled>
                </div>
                <div class="form-group mt-4">
                    <label for="" class="text-white">Year: </label>
                    <input type="number" name="year" id="year" class="form-control" disabled>
                </div>
                <div class="form-group mt-4">
                    <label for="" class="text-white">Year of birth: </label>
                    <input type="date" name="date" id="date" class="form-control" disabled>
                </div>
            </form>

            <form action="" class="edit-profile col-7 mt-5" align="center" hidden>
                <div>
                    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg" alt="" class="rounded-circle border border-success text-center" height="150px" width="150px">
                </div>
                <div class="form-group mt-5">
                    <label for="" class="text-white">Name: </label>
                    <input type="text" name="name" id="edit-name" class="form-control">
                </div>
                <div class="form-group mt-4">
                    <label for="" class="text-white">Email: </label>
                    <input type="email" name="email" id="edit-email" class="form-control">
                </div>
                <div class="form-group mt-4">
                    <label for="" class="text-white">Year: </label>
                    <input type="number" name="year" id="edit-year" class="form-control">
                </div>
                <div class="form-group mt-4">
                    <label for="" class="text-white">Year of birth: </label>
                    <input type="date" name="date" id="edit-date" class="form-control">
                </div>
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCentered">
                    Edit
                </button>
            </form>

            <div class="list-group manage-accounts mt-5 col-10" hidden>

            </div>

            <!-- Modal Edit -->

            <div class="modal fade" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenteredLabel">Insert password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="modal-body">
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="password" class="form-control" name="" id="password" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Confirm password</label>
                                <input type="password" class="form-control" name="" id="confirm-password" placeholder="">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success btn-confirm" disabled>Acept</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../public/js/profile/profile.js"></script>
</body>

</html>